<div class="container">
  <%= provide(:title, t('purchases.name')) %>

  <h1><%= t('purchases.view.title_new') %></h1>

  <%= render 'form', purchase: @purchase %>
</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: purchases_path, title: t('button.back') } %>
</div>

