<div class="history">
  <div class="container">
    <div class="w3l-history-grids">
      <div class="col-md-5 w3l-history-left">
        <%= image_tag '7.jpg'%>
      </div>
      <div class="col-md-7 w3l-history-right">
        <h2>Pellentesque ultrices tincidunt risus in pellentesque.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci tortor, tincidunt non nunc eget, mollis pulvinar ligula. Quisque pharetra maximus feugiat. Morbi hendrerit dolor sit amet quam lobortis, at ultrices eros ultrices. Fusce eget mi nulla. Curabitur odio nisl, dapibus id hendrerit id, scelerisque et lorem. Sed accumsan lacinia orci, a lobortis neque finibus vitae. </p>
        <a href="about.html">More</a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>