<div class="special">
  <div class="container">
    <div class="services-info">
      <h3>Today Specials</h3>
      <p>Pellentesque ultrices tincidunt risus in pellentesque. Morbi facilisis consectetur nunc in luctus.</p>
    </div>
    <div class="special-grids">
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>125</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="col-md-6 agileits-special-info">
          <h4>Aliquam</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img wthree-img">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>130</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="col-md-6 agileits-special-info">
          <h4>Nullam</h4>
          <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info">
          <h4>Aliquam</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img2">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>190</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info">
          <h4>Nullam</h4>
          <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img3">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>105</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <%= link_to 'Dishes', dishes_path %>
            </figcaption>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>