<div class="special">
  <div class="container">
    <div class="services-info">
      <h3><%= t('banner.special.title') %></h3>
      <p><%= t('banner.special.text') %></p>
    </div>

    <div class="special-grids">

      <%= render 'items_special', dishes: dishes %>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>