<p id="notice"><%= notice %></p>



<div class="menu">
  <div class="container">
    <h1><%= t('dishes.name') %></h1>
    <div class="special-grids menu-grids">
      <% @dishes.in_groups_of(2).each do |item| %>
        <%= render 'item_dishes', item: item %>
      <% end %>
    </div>

  </div>
  <div class="container">
    <% if can?(:create, Dish)  %>
        <%= link_to 'New Dish', new_dish_path %>
    <% end %>
  </div>
</div>

