<p id="notice"><%= notice %></p>
<%= provide(:title, t('dishes.name')) %>
<div class="menu">
  <div class="container">

    <div class="special-grids menu-grids">
      <% @dishes.in_groups_of(2).each do |item| %>
        <%= render 'item_dishes', item: item %>
      <% end %>
    </div>

  </div>
  <div class="container btn-container">
    <% if can?(:create, Dish)  %>
        <%= render 'shared/link_default', { path: new_dish_path, title: t('dishes.view.title_new') } %>
    <% end %>
  </div>
</div>

